.container {
    text-align: center;
    
    
}
.image-container {
    position: relative;
    display: inline-block;
    margin: auto;
}

.text-overlay {
    font-weight:bold;
    font-family:Arial;
    font-size: 18px;

}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 82, 204, 0.7);
    transition: 0.3s;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 82, 204, 0.9);
}